<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <h1>Skills <%= time %> </h1>
    <%- include('../partials/nav.ejs') %>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
            <form action="/skills/<%= s.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
            </form>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a><br>
</body>
</html>